
.arrow-gap{
    margin-left:6px;
    float: left;
}
.fa-sort-asc{
    margin-top:6px;
}
.fa-sort-desc{
    margin-top:-2px;
}

.inputText{
    font-size: 16px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .search{
      size: 12px;
  }

  .search-btn{
      background-color: white;
      outline: 0 !important;
      border: 0;
  }
  
  .uploadbtn {
    border: 1px solid gray;
    color: rgb(7, 7, 7);
    background-color: #8fb5bd;
    padding: 3px 14px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    margin-top: 3px;
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  img {
    height: 130px;
    width: 158px;
    border:1px solid #021a40;
    background-color:rgba(84, 84, 78, 0.38);
 }
 .cropper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
  }

  image-cropper {
  height: 200px;
}

.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }


    .mat-header-cell{
        font-size: 15px;
        font-weight: bold;
        color: black;
        border: 0;
    }

    .glyphicon.glyphicon-circle-arrow-right {
        font-size: 28px;
        color: black;
        top: 10px;
    }
